<div class="container text-center mt-5">
    <h1 class="text-success fw-bold">⚽ Bienvenido a Gonsa Fútbol ⚽</h1>
    <p class="lead">Tu tienda de camisetas retro de fútbol favoritas</p>
  
    <div class="row mt-5 d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <img src="assets/images/banner-home.jpg" class="img-fluid rounded shadow-lg" alt="Camisetas Retro">
      </div>
      <div class="col-md-6">
        <p class="fs-4">
          Explora nuestra colección exclusiva de camisetas históricas, 
          revive momentos legendarios y lleva contigo la pasión del fútbol.
        </p>
      </div>
    </div>
  
    <a routerLink="/tienda" class="btn btn-success btn-lg mt-4 shadow">🛒 Ver Tienda</a>
  </div>
  