<div class="container text-center mt-4">
    <h1 class="text-success">¡Bienvenido a Gonsa Fútbol!</h1>
    <p class="lead">Tu tienda de camisetas retro de fútbol favoritas</p>
  
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="assets/images/banner-home.jpg" class="img-fluid rounded shadow" alt="Camisetas Retro">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <p class="fs-4">
          Explora nuestra colección exclusiva de camisetas históricas, 
          revive momentos legendarios y lleva contigo la pasión del fútbol.
        </p>
      </div>
    </div>
  
    <a routerLink="/tienda" class="btn btn-success btn-lg mt-4">Ver Tienda</a>
  </div>
  